* {
    margin: 0;
    padding: 0;
}

nav, footer {
    background-color: #CF5C36;
    height: 40px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 40px;
    max-height: 60%;
    max-width: 60%;
}

nav {
    right: 0;
    top: 0;
}

section {
    background-color: #e6e6e6;
    position: fixed;
    top: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

footer {
    left: 0;
    bottom: 0;
}

a:link {
    color: #EEE5E9;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #d6ced2;
    text-decoration: underline;
}